<!DOCTYPE html>
<html lang="en-US" prefix="og: http://ogp.me/ns#">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }} | {{ site.title }}</title>
  <link rel="stylesheet" id="shapely-bootstrap-css" href="{{site.baseurl}}/css/bootstrap.min.css?ver=4.7" type="text/css" media="all">
  <link rel="stylesheet" id="shapely-icons-css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" media="all">
  <link rel="stylesheet" id="shapely-fonts-css" href="//fonts.googleapis.com/css?family=Raleway%3A100%2C300%2C400%2C500%2C600%2C700%7COpen+Sans%3A400%2C500%2C600&#038;ver=4.7" type="text/css" media="all">
  <link rel="stylesheet" id="flexslider-css-css" href="{{site.baseurl}}/css/flexslider.css?ver=4.7" type="text/css" media="all">
  <link rel="stylesheet" id="shapely-style-css" href="{{site.baseurl}}/css/style.css?ver=4.7" type="text/css" media="all">
  <script type="text/javascript" src="{{site.baseurl}}/js/jquery.js?ver=1.12.4"></script>
  <script type="text/javascript" src="{{site.baseurl}}/js/jquery-migrate.min.js?ver=1.4.1"></script>
</head>
<body class="page-template page-template-template-blog page-template-template-blog-php page page-id-703 has-sidebar-right">
<div id="page" class="site">
  <a class="skip-link screen-reader-text" href="https://blog.yukihirai0505.com/blog/#content">Skip to content</a>
  <header id="masthead" class="site-header" role="banner">
    <div class="nav-container">
      <nav id="site-navigation" class="main-navigation" role="navigation">
        <div class="container nav-bar">
          <div class="row">
            <div class="module left site-title-container">
              <a href="/">
                <h1 class="site-title">Yuky</h1>
              </a>
            </div>
            <div class="module widget-handle mobile-toggle right visible-sm visible-xs">
              <i class="fa fa-bars"></i>
            </div>

            <!--
            <div class="module-group right">
              <div class="module left">
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                  <ul id="menu" class="menu">
                    <li id="menu-item-1847"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-1847">
                      <a title="HOME" href="https://blog.yukihirai0505.com/">HOME</a>
                    </li>
                    <li id="menu-item-1846"
                        class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-703 current_page_item menu-item-1846 active">
                      <a title="Diary" href="https://blog.yukihirai0505.com/blog/">Diary</a>
                    </li>
                    <li id="menu-item-1858"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1858">
                      <a title="Tech Blog" href="https://yukihirai0505.github.io/">Tech Blog</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            -->

          </div>
        </div>
      </nav><!-- #site-navigation -->
    </div>
  </header><!-- #masthead -->

  <div id="content" class="main-container">
    <section class="page-title-section bg-secondary">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-12">
            <h3 class="page-title">
              I'm already a developer
            </h3>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12 text-right">
          </div>
        </div><!--end of row-->
      </div><!--end of container-->
    </section>
    <section class="content-area ">
      <div id="main" class="container" role="main">
        <div class="row">
          {{ content }}
        </div><!-- row -->
      </div><!-- #main -->
    </section><!-- section -->
    <footer id="colophon" class="site-footer footer bg-dark" role="contentinfo">
      <div class="container footer-inner">
        <div class="row">
        </div>
        <div class="row">
          <div class="site-info col-sm-6">
            <div class="copyright-text"></div>
            <div class="footer-credits">© Yuky Hirai</div>
          </div><!-- .site-info -->
          <div class="col-sm-6 text-right">
          </div>
        </div>
      </div>
      <a class="btn btn-sm fade-half back-to-top inner-link" href="/#top"><i
        class="fa fa-angle-up"></i></a>
    </footer><!-- #colophon -->
  </div><!-- #page -->
  <script type='text/javascript' src='https://blog.yukihirai0505.com/wp-content/plugins/jetpack/modules/photon/photon.js?ver=20130122'></script>
  <script type='text/javascript' src='https://s0.wp.com/wp-content/js/devicepx-jetpack.js?ver=201652'></script>
  <script type='text/javascript' src='https://secure.gravatar.com/js/gprofiles.js?ver=2016Decaa'></script>
  <script type='text/javascript' src='https://blog.yukihirai0505.com/wp-content/themes/shapely/js/navigation.js?ver=20120206'></script>
  <script type='text/javascript' src='https://blog.yukihirai0505.com/wp-content/themes/shapely/js/skip-link-focus-fix.js?ver=20160115'></script>
  <script type='text/javascript' src='https://blog.yukihirai0505.com/wp-includes/js/comment-reply.min.js?ver=4.7'></script>
  <script type='text/javascript' src='https://blog.yukihirai0505.com/wp-includes/js/imagesloaded.min.js?ver=3.2.0'></script>
  <script type='text/javascript' src='https://blog.yukihirai0505.com/wp-includes/js/masonry.min.js?ver=3.3.2'></script>
  <script type='text/javascript' src='https://blog.yukihirai0505.com/wp-includes/js/jquery/jquery.masonry.min.js?ver=3.1.2b'></script>
  <script type='text/javascript' src='https://blog.yukihirai0505.com/wp-content/themes/shapely/js/flexslider.min.js?ver=20160222'></script>
  <script type='text/javascript' src='https://blog.yukihirai0505.com/wp-content/themes/shapely/js/jquery.ripples-min.js?ver=20160222'></script>
  <script type='text/javascript' src='https://blog.yukihirai0505.com/wp-content/themes/shapely/js/shapely-scripts.js?ver=20160115'></script>
  <script type='text/javascript' src='https://stats.wp.com/e-201652.js' async defer></script>
</div>
</body>
</html>